<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="update_bike.css">

    <title>Bike_rental</title>
</head>
<body>

    <form method="POST">
        <label>Model</label>
        <input name="model" type="Text" value="e.g.Honda">
        <br>
        <label>daily_fee</label>
        <input name="daily_fee" type="Text" value="100000">
        <br>
        <Label>Image</Label>
        <input name="image" type="Text" value="e.g.image">
        <br>
        <label>Year</label>
        <input name="year" type="Text" value="e.g.2013">
        <br>
        <button>Submit</button>
    </form>

</body>
</html>